@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4DCB8E;

}

.container{
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70vh;
    display: flex;
    box-shadow: 5px 5px 10px 10px rgb(0,0,0, .212); 
    background-color:#FFFFFF ;
    border-radius: 50px;

    position: relative;
    overflow: hidden;
   
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner-one-logon h1{
    text-align:center ;
}

.banner-one-logon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    position: absolute;
    left: 0;
    z-index: 2;
    opacity: 1;
}
.banner-one-logon form{
    width: 95%;
    align-items: center;
    justify-content: center;

}
.input-box{
    padding: 10px 50px 10px 50px;
}
.password{
    background-image: url('/imgs/eye-off.svg');
    background-repeat: no-repeat;
    background-position:calc(100% - 10px) center;
    background-size: 15px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
} 

.password.show{
    background-image: url('./imgs/eye.svg');
    
}

.input-box input{
    width: 100%;
    height: 2rem;
    outline: none;
    border:none;
    border-bottom:  2px solid #4DCB8E;
    color: rgb(136, 135, 135);
    background-color: rgba(190, 188, 188, 0.382);
    border-radius: 5px;
    padding-left: 15px;
}

.banner-two-register h1{
    text-align: center;
}

.banner-two-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.banner-two-register form{
    width: 95%;
    align-items: center;
    justify-content: center;

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding: 10px 50px 10px 50px;
}

.button-btn{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: #4DCB8E;
    border: 1px solid #1b272180;
    box-shadow: 2px 2px 5px rgb(0,0,0, .212);
    text-transform: uppercase;
}
.button-btn:hover{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    

}
.overlay-p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}


input[type="date"] {
    cursor: text;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;   
}


.container.active .banner-one-logon {
    transform: translateX(100%);
    opacity: 0;
}

.container.active .banner-two-register {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;        
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 200px 0 0 200px;
    z-index: 100;

}

.container.active .overlay-container {
    transform: translateX(-100%);
    border-radius: 0 200px 200px 0;
}

.overlay {
    background: #4dcb8e80;
    background: linear-gradient(to right, #4DCB8E);
    color: #FFFFFF;
    position: relative;
    left: -100%;       
    height: 100%;
    width: 200%;       
    transition: all 1s ease-in-out;
}

.container.active .overlay {
    transform: translateX(50%);
    border-radius: 0 150px 150px 0;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%; 
    transition: all 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.active .overlay-right {
    transform: translateX(20%);
}

.button-btn-l {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid #4DCB8E;
    box-shadow: 2px 2px 5px rgb(0,0,0, .212);
    text-transform: uppercase;
    
}
.button-btn-l:hover{
    color: #4DCB8E;
    text-decoration: underline;
    cursor: pointer;
    

}