*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgba(210, 252, 246, 0.66);
}
.form{
    padding: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(171, 252, 252);
    border-radius: 15px;
    border: aqua 2px solid;
}
.form h1{
    font-family: 'Times New Roman', Times, serif;
    
}

.form-item{
    display: block;
    padding: 0.5rem;
    
}
.form-item input{
    width: 100%;
    border-radius: 5px;
    border-style:none;
    height: 1.5rem;
    border: aqua 1px solid;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.form-item label{
    display: block;
    padding-bottom: 0.2rem;
}
